about-modal

  #modalAbout.modal.fade(role='dialog', aria-labelledby='modalAbout', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h3 About - Webpack React Node.js
        .modal-body
          h4 Node.js web app boilterplate project template built using Webpack 3
          .pad-top-micro
            h5 Server
            ul
              li Node.js
              li Express 4
            h5 Client JS
            ul
              li Webpack
                ul
                  li ESLint
                  li Browsersync live client source to browser reloading
              li React 15.6
              li ES6
            h5 Client Styles
            ul
              li Bootstrap 3.3.7
              li Font Awesome 4.6.3
              li Sass
        .modal-footer
          a(href='https://github.com/mtimmermann/Boilerplate-Webpack-React-Nodejs') Source Code on GitHub
