@import '_mixins';

body {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
}

.modal-content {
	.modal-footer {
		@include border-radius(6px);
		background-color: #f5f5f5;
	}
}